<div class="row mb-3">
  <div class="col-2">
    <h4 class="text-info">
      {{ show.time() }}
    </h4>
  </div>
  <div class="col-10">
    <h4 class="text-primary">{{ show.title }}</h4>
    {% if show.has_description() %}
      <p class="text-muted">{{ show.description() }}</p>
    {% endif %}
    {% match show.status() %}
      {% when Status::Live %}
        <p class="badge bg-danger">bein útsending</p>
      {% when Status::Repeat %}
        <p class="badge bg-success">endurtekinn</p>
      {% when Status::Standard %}
    {% endmatch %}
  </div>
</div>
